@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

ul{
list-style-type: none;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  overflow: hidden;
  background-color: #f9d67a;
  border-width: 5px;
  }

  li {
    float: left;
    margin: auto; 
    border-right: 1px solid #000;  
    font-family: 'Lobster', cursive;
    }

li a {
  display: block;
  color: #000;
  text-align: center;
  
  text-decoration: none;
  font-size: 18px;
}

li a:hover {
  background-color: #111111;
}

.row {margin-left:0;}

img {
    height: 30%;
    width: 103%
}