ul{
list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
 
 }

  li {
    float: left;
    margin: auto;
    margin-right:15px;
    
    }

li a {
  display: block;
  color: white;
  text-align: center;
  
  text-decoration: none;
  font-size: 18px;
}

li a:hover {
  background-color: #111111;
}

.row {margin-left:0;}